footer .redes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

main {
  background: #3f5efb;
  background: radial-gradient(circle, #3f5efb 8%, #85000e 84%); }

.navegador div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 30px;
  font-family: "Merriweather", serif; }
  .navegador div a {
    font-size: 30px;
    text-decoration: none; }

.nav-derecha .navbar-nav a {
  transition-duration: 0.7s; }
  .nav-derecha .navbar-nav a:hover {
    color: red;
    transform: scale(1.2); }

footer {
  background: #3f5efb;
  background: radial-gradient(circle, #3f5efb 8%, #85000e 84%);
  display: flex;
  justify-content: space-between; }
  footer .redes {
    margin: 50px 0px 40px 30px;
    padding: 50px 15px 30px 0px;
    border: 7px solid black;
    color: black; }
    footer .redes a img {
      margin: 10px 10px 10px 20px;
      width: 90px;
      border-radius: 30px;
      transition-duration: 1s; }
      footer .redes a img:hover {
        transform: scale(1.2); }
    footer .redes h2 {
      font-size: 35px;
      color: black; }
  footer .seguridad {
    padding: 50px 15px 30px 0px;
    margin: 50px 0px 40px 30px;
    border: 7px solid black; }
    footer .seguridad h2 {
      font-size: 35px;
      color: black;
      text-align: center; }
    footer .seguridad p {
      font-size: 30px;
      color: black;
      font-weight: 500; }
  footer .sitio {
    padding: 50px 15px 30px 0px;
    margin: 50px 30px 40px 30px;
    border: 7px solid black;
    display: flex;
    flex-direction: column; }
    footer .sitio a {
      font-family: "Merriweather", serif;
      font-size: 30px;
      color: black;
      text-align: start;
      transition-duration: 0.8s;
      text-decoration: none; }
      footer .sitio a:hover {
        color: white; }

header .navegador div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 30px;
  font-family: "Merriweather", serif; }
  header .navegador div a {
    font-size: 30px;
    text-decoration: none; }
    header .navegador div a .logo {
      width: 80px;
      display: flex;
      margin: 0px 45px 0px 35px;
      transition-duration: 0.7s; }
      header .navegador div a .logo:hover {
        transform: rotatez(-10deg); }
  header .navegador div h1 {
    color: white; }

.galeria {
  background: #3f5efb;
  background: radial-gradient(circle, #3f5efb 8%, #85000e 84%); }
  .galeria .que h2 {
    font-size: 50px;
    text-align: center;
    padding: 20px;
    color: black; }
  .galeria .que p {
    font-size: 35px;
    text-align: center;
    margin: 20px 20px 0px 30px;
    color: black; }
  .galeria .para h2 {
    font-size: 50px;
    text-align: center;
    margin: 20px;
    color: black; }
  .galeria .para p {
    font-size: 35px;
    text-align: center;
    color: black; }
  .galeria .buscar {
    padding: 65px 0px 65px 0px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center; }
    .galeria .buscar input {
      border-radius: 15px;
      font-size: 1.2rem;
      padding: .9em 1em; }
    .galeria .buscar button img {
      width: 50px;
      height: 60px;
      border-radius: 10px; }
  .galeria .comentario {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 400px;
    row-gap: 15px;
    column-gap: 15px;
    padding-left: 25px;
    padding-right: 25px;
    grid-template-areas: "perro electricista" "peluquero cerrajero" "plomero escribano"; }
    .galeria .comentario div {
      border: 5px solid black;
      transition-duration: 0.8s; }
      .galeria .comentario div:hover {
        transform: scale(1.1); }
      .galeria .comentario div img {
        width: 100%;
        height: 100%;
        transition-duration: 1s; }
  .galeria .perro {
    grid-template-areas: perro;
    grid-column: span 2; }
  .galeria .electricista {
    grid-template-areas: electrcista; }
  .galeria .peluquero {
    grid-template-areas: peluquero; }
  .galeria .cerrajero {
    grid-template-areas: cerrajero;
    grid-column: span 2; }
  .galeria .plomero {
    grid-template-areas: plomero;
    grid-row: span 2; }
  .galeria .escribano {
    grid-template-areas: escribano; }
  .galeria .grid-item {
    position: relative;
    box-shadow: 13px 8px 20px 3px rgba(0, 0, 0, 0.63);
    -webkit-box-shadow: 13px 8px 20px 3px rgba(0, 0, 0, 0.63);
    -moz-box-shadow: 13px 8px 20px 3px rgba(0, 0, 0, 0.63); }
    .galeria .grid-item h3 {
      position: absolute;
      font-size: 40px;
      top: 0;
      text-align: center;
      color: #0044ff;
      background-color: rgba(128, 128, 128, 0.863);
      width: 100%; }
    .galeria .grid-item p {
      position: absolute;
      bottom: 0;
      font-size: 25px;
      text-align: center;
      font-weight: 500;
      color: #100ddd;
      background-color: rgba(128, 128, 128, 0.863);
      width: 100%; }

footer {
  background: #3f5efb;
  background: radial-gradient(circle, #3f5efb 8%, #85000e 84%);
  display: flex;
  justify-content: space-between; }
  footer .redes {
    margin: 50px 0px 40px 30px;
    padding: 50px 15px 30px 0px;
    border: 7px solid black;
    color: black; }
    footer .redes a img {
      margin: 10px 10px 10px 20px;
      width: 90px;
      border-radius: 30px;
      transition-duration: 1s; }
      footer .redes a img:hover {
        transform: scale(1.2); }
    footer .redes h4 {
      font-size: 35px;
      color: black; }
  footer .seguridad {
    padding: 50px 15px 30px 0px;
    margin: 50px 0px 40px 30px;
    border: 7px solid black; }
    footer .seguridad h4 {
      font-size: 35px;
      color: black;
      text-align: center; }
    footer .seguridad p {
      font-size: 30px;
      color: black;
      font-weight: 500; }
  footer .sitio {
    padding: 50px 15px 30px 0px;
    margin: 50px 30px 40px 30px;
    border: 7px solid black;
    display: flex;
    flex-direction: column; }
    footer .sitio a {
      font-family: "Merriweather", serif;
      font-size: 30px;
      color: black;
      text-align: start;
      transition-duration: 0.8s;
      text-decoration: none; }
      footer .sitio a:hover {
        color: white; }

.contacto {
  display: flex; }
  .contacto form {
    border: 5px solid;
    height: 800px;
    width: 50%;
    margin: auto;
    margin-top: 100px;
    color: black; }
    .contacto form div {
      display: grid;
      gap: 1em;
      grid-auto-columns: 90%;
      font-size: 25px;
      margin-left: 40px;
      font-family: "Lato", sans-serif;
      font-weight: 700; }
      .contacto form div input {
        font-size: 1rem;
        padding: .8em 1em;
        background-color: #8cebe6;
        border-radius: 0.4em;
        font-family: "Lato", sans-serif;
        font-weight: 700; }
      .contacto form div textarea {
        font-size: 1.1rem;
        font-family: "Lato", sans-serif;
        font-weight: 700;
        background-color: #8cebe6;
        color: black; }

.informacion {
  display: flex; }
  .informacion section div {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 30px 15px 30px 10px;
    color: black; }
    .informacion section div h2 {
      color: white;
      font-size: 60px;
      text-align: center; }
    .informacion section div h3 {
      font-size: 45px;
      text-align: center; }
    .informacion section div p {
      font-size: 35px;
      text-align: center; }

.ingreso {
  display: grid; }
  .ingreso form {
    border: 5px solid;
    height: 600px;
    width: 50%;
    margin: auto;
    margin-top: 100px;
    color: black; }
    .ingreso form div {
      display: grid;
      gap: 1em;
      grid-auto-columns: 90%;
      font-size: 25px;
      margin-left: 30px;
      font-family: "Lato", sans-serif;
      font-weight: 700; }
      .ingreso form div input {
        font-size: 1rem;
        padding: .8em 1em;
        background-color: #8cebe6;
        border-radius: 0.4em;
        font-family: "Lato", sans-serif;
        font-weight: 700; }

.inscripcion {
  display: flex; }
  .inscripcion form {
    border: 5px solid black;
    height: 700px;
    width: 50%;
    margin: auto;
    margin-top: 100px;
    color: black; }
    .inscripcion form div {
      display: grid;
      gap: 1em;
      grid-auto-columns: 90%;
      font-size: 28px;
      margin-left: 40px;
      font-family: "Lato", sans-serif;
      font-weight: 700; }
      .inscripcion form div input {
        font-size: 1rem;
        padding: .8em 1em;
        border-radius: 0.4em;
        font-family: "Lato", sans-serif;
        font-weight: 700;
        background-color: #8cebe6;
        accent-color: #8cebe6; }
      .inscripcion form div select {
        font-size: 1rem;
        padding: .8em 1em;
        font-family: "Lato", sans-serif;
        font-weight: 700;
        background-color: #8cebe6; }

.buscar {
  padding: 65px 0px 65px 0px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center; }
  .buscar input {
    border-radius: 15px;
    font-size: 1.2rem;
    padding: .9em 1em; }
  .buscar button img {
    width: 50px;
    height: 60px;
    border-radius: 10px; }

.trabajo {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 550px;
  row-gap: 15px;
  column-gap: 15px;
  color: white; }
  .trabajo div {
    margin: 35px;
    border: 20px black groove;
    position: relative;
    transition-duration: 0.8s; }
    .trabajo div:hover {
      transform: scale(1.1); }
    .trabajo div img {
      width: 100%;
      height: 100%;
      transition-duration: 1s; }
    .trabajo div p {
      position: absolute;
      font-size: 30px;
      bottom: 0;
      text-align: center;
      color: white;
      background-color: rgba(0, 0, 0, 0.658);
      width: 100%; }

@media screen and (max-width: 1400px) {
  .galeria .comentario {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 500px;
    row-gap: 25px;
    column-gap: 25px; }
    .galeria .comentario .grid-item {
      grid-column: span 1;
      grid-row: span 1; } }

@media screen and (max-width: 1080px) {
  header .navegador div a .logo {
    width: 80px;
    display: flex;
    margin: 0px; } }

@media screen and (max-width: 1000px) {
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    footer .redes {
      width: 345px;
      padding-left: 35px;
      margin: 50px 0px 40px 0px; }
    footer .seguridad {
      width: 345px;
      text-align: center;
      margin: 50px 0px 40px 0px; }
    footer .sitio {
      width: 345px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin: 50px 0px 40px 0px; } }

@media screen and (max-width: 800px) {
  main .trabajo {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 650px;
    row-gap: 0px;
    column-gap: 0px;
    color: white; } }

@media screen and (max-width: 650px) {
  .galeria .comentario {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 450px;
    padding-left: 15px;
    padding-right: 15px; } }

@media screen and (max-width: 460px) {
  .galeria .comentario {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 340px;
    padding-left: 15px;
    padding-right: 15px; } }
