header{
    .navegador{
        div{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            font-size: 30px;
            font-family: 'Merriweather', serif;
            a{
                font-size: 30px;
                text-decoration: none;
                .logo{
                    width: 80px;
                    display: flex;
                    margin: 0px 45px 0px 35px;
                }
            }
            h1{
                color: white;
            }
        }
    }
}
.galeria{
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 8%, rgba(133,0,14,1) 84%);
    .que{
        h2{
            font-size: 50px;
            text-align: center;
            padding: 20px;
            color: black;
        }
        p{
            font-size: 35px;
            text-align: center;
            margin: 20px 20px 0px 30px;
            color: black;
        }
    }
    .para{
        h2{
            font-size: 50px;
            text-align: center;
            margin: 20px;
            color: black;
        }
        p{
            font-size: 35px;
            text-align: center;
            color: black;
        }
    }
    .buscar{
        padding: 50px;
        div{
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            input{
                border-radius: 15px;
                font-size: 1.2rem;
                padding: .9em 1em;
            }
            button{
                img{
                    width: 50px;
                    height: 60px;
                    border-radius: 10px;
                }
            }
        }
    }
    .comentario {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows: 450px;
        row-gap: 15px;
        column-gap: 15px;
        padding-left: 25px;
        padding-right: 25px;
        grid-template-areas: "perro electricista" "peluquero cerrajero" "plomero escribano";
        div {
            border: 5px solid black;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    .perro {
        grid-template-areas: perro;
        grid-column: span 2;
    }
    .electricista {
        grid-template-areas: electrcista;
    }
    .peluquero {
        grid-template-areas: peluquero;
    }
    .cerrajero {
        grid-template-areas: cerrajero;
        grid-column: span 2;
    }
    .plomero {
        grid-template-areas: plomero;
        grid-row: span 2;
    }
    .escribano {
        grid-template-areas: escribano;
    }
    .grid-item {
        position: relative;
        box-shadow: 13px 8px 20px 3px rgba(0,0,0,0.63);
        -webkit-box-shadow: 13px 8px 20px 3px rgba(0,0,0,0.63);
        -moz-box-shadow: 13px 8px 20px 3px rgba(0,0,0,0.63);
        h3 {
            position: absolute;
            font-size: 40px;
            top: 0;
            text-align: center;
            color: rgb(0, 68, 255);
            background-color: rgba(128, 128, 128, 0.863);
            width: 100%;
        }
        p {
            position: absolute;
            bottom: 0;
            font-size: 25px;
            text-align: center;
            font-weight: 500;
            color: rgb(0, 68, 255);
            background-color: rgba(128, 128, 128, 0.863);
            width: 100%;
        }
    }
}

footer {
	background: rgb(63,94,251);
	background: radial-gradient(circle, rgba(63,94,251,1) 8%, rgba(133,0,14,1) 84%);
	display: flex;
	justify-content: space-between;
    .redes {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        border: 7px solid black;
        margin: 50px 0px 30px 20px;
        color: black;
        a {
            img {
                margin: 10px 10px 10px 20px;
                width: 90px;
            }
        }
        h4 {
            font-size: 35px;
            color: black;
        }
    }
    .seguridad {
        margin: 50px 15px 30px 0px;
        border: 7px solid black;
        h4 {
            font-size: 35px;
            color: black;
        }
        p {
            font-size: 30px;
            color: black;
            font-weight: 500;
        }
    }
}


