.informacion{
    display: flex;
    section{
        div{
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            padding: 30px 15px 30px 10px;
            color: $color_2;
            h2{
                color: $color_3;
                font-size: 60px;
                text-align: center;
            }
            h3{
                font-size: 45px;
                text-align: center;
            }
            p{
                font-size: 35px;
                text-align: center;
            }
        }
    }
}