.inscripcion{
    display: flex;
    form{
        border: 5px solid black;
        height: 700px;
        width: 50%;
        margin: auto;
        margin-top: 100px;
        color: $color_2;
        div{
            display: grid;
            gap: 1em;
            grid-auto-columns: 90%;
            font-size: 28px;
            margin-left: 40px;
            font-family: $font-2;
            font-weight: 700;
            input{
                font-size: 1rem;
                padding: .8em 1em;
                border-radius: 0.4em;
                font-family: $font-2;
                font-weight: 700;
                background-color: $background-color_2;
                accent-color: $background-color_2;
            }
            label{
                color: $color_3;
            }
            select{
                font-size: 1rem;
                padding: .8em 1em;
                font-family: $font-2;
                font-weight: 700;
                background-color: $background-color_2;
                color: $color_2;
            }
        }
    }
}