
    .buscar{
        padding: 65px 0px 65px 0px;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
            input{
                border-radius: 15px;
                font-size: 1.2rem;
                padding: .9em 1em;
            }
            button{
                img{
                    width: 50px;
                    height: 60px;
                    border-radius: 10px;
                }
            }
    }
    .trabajo{
        width: 100%;  
        @include grid (2, 600px, 15px, 15px);
        color: $color_3;
        div{
            margin: 35px;
            border: 20px rgb(0, 0, 0) groove;
            position: relative;
            img{
                width: 100%;
                height: 100%;
                transition-duration: 2s;
                &:hover{
                    transform: scale(1.1);
                }
            }
            p{
                position: absolute;
                font-size: 30px;
                bottom: 0;
                text-align: center;
                color: $color_6;
                background-color: $background-color_3;
                width: 100%;
            }
        }
    }