*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main{
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 8%, rgba(133,0,14,1) 84%);
}
.navegador{
    div{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-size: 30px;
        font-family: 'Merriweather', serif;
        a{
            font-size: 30px;
            text-decoration: none;
        }
    }
}
.nav-derecha{
    .navbar-nav{
        a{
            &:hover{
                color: rgb(0, 26, 255);
                transition-duration: 0.5s;
            }
        }
    }
}