@media screen and (max-width: 1400px){
	.galeria{
		.comentario{
			width: 100%;  
			display: grid;
			grid-template-columns: repeat(2,1fr) ;
			grid-auto-rows: 500px;
			row-gap: 25px;
			column-gap: 25px;
			.grid-item{
				grid-column: span 1;
        		grid-row: span 1;
			}
		}
	}
}
@media screen and (max-width: 1080px){
	header{
		.navegador{
			div{
				a{
					.logo{
						width: 80px;
						display: flex;
						margin: 0px;
					}
				}
			}
		}
	}
}
@media screen and (max-width: 1000px){
	footer{
		display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
		.redes{
			width: 345px;
			padding-left: 35px;
			margin: 50px 0px 40px 0px;
		}
		.seguridad{
			width: 345px;
			text-align: center;
			margin: 50px 0px 40px 0px;
		}
		.sitio{
			width: 345px;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			margin: 50px 0px 40px 0px;
		}
	}
}
@media screen and (max-width: 800px){
	main{
		.trabajo{
			width: 100%;  
			display: grid;
			grid-template-columns: 1fr ;
			grid-auto-rows: 650px;
			row-gap: 0px;
			column-gap: 0px;
			color: white;
		}
	}
}
@media screen and (max-width: 650px){
	.galeria{
		.comentario{
			display: flex;
			justify-content: center;
			flex-direction: column;
			align-items: center;
			width: 450px;
			padding-left: 15px;
			padding-right: 15px;
		}
	}
}
@media screen and (max-width: 460px){
	.galeria{
		.comentario{
			display: flex;
			justify-content: center;
			flex-direction: column;
			align-items: center;
			width: 340px;
			padding-left: 15px;
			padding-right: 15px;
		}
	}
}